nav {
    height: 45px;
    background-color: #eee;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 2px -2px gray;
    width: 100%;
}

nav > ul {
    margin: 7px 0 0 0;
    padding-left: 15px;
}

nav > h6 {
    margin: 15px 0 0 0
}

section {
    width: 100%;
    position: absolute;
    overflow: auto;
    margin-top: 30px;
    padding: 15px;
}
